div {
  background-image: url("prepend/pizza.jpg?append");
}

div {
  background-image: url("prepend/absolute.jpg?append");
}

div {
  background-image: url("http://www.google.com/images/srpr/logo11w.png");
}

div {
  background-image: url("//images/srpr/logo11w.png");
}

span {
  background-image: url("data:image/jpg;base64,/9j/ke4uvs");
}

